<li class=" list-group-item">
    <div class="row mb-3 mt-3">
        <div class="col-12 col-sm-3 col-lg-1 me-sm-3 position-relative">
            <a id="author-template-author-href"><img id="author-template-image" src=""
                                                     class="rounded-circle border img-fluid img-thumbnail"></a>
            <img id="author-template-medal" src="" class="img-fluid"
                 style="position: absolute;left: 65%;width: 40%;height: auto;object-fit: cover;">
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
            <div>
                <span id="author-template-name" class="fw-bold pe-1 col-12"></span>
                <span id="author-template-created" class="text-muted fst-italic"></span>
            </div>
            <div>
                <span class="fw-bold pe-1 fw-bold text-muted">Дата рождения: </span>
                <span id="author-template-birthDate" class="text-muted"></span>
            </div>

        </div>
        <div class="col-12 col-sm-auto ms-auto my-auto">
            <span id="author-template-posts-count" class="badge bg-primary rounded-pill "></span>
            <span id="author-template-likes-count" class="badge bg-primary rounded-pill"></span>
        </div>
    </div>
</li>