<li class="list-group-item border-0">
    <div class="text-muted mb-1" id="post-info-comment-author-name">Xexi</div>
    <div>
        <span class="mb-2 fs-5" id="post-info-comment-text">Да здравствует пиво!</span>
        <span class="text-muted d-none" id="post-info-comment-rewrite-status" title="">(изменён)</span>
    </div>

    <div class="text-muted text-small mb-1">
        <span id="post-info-comment-date">19.12.2022</span>
        <span class="text-primary" id="post-info-comment-btn-answer" style="cursor: pointer">Ответить</span>
    </div>
    <div class="text-primary" id="post-info-comment-btn-open-sub-comments" style="cursor: pointer">Раскрыть ответы</div>
    <ul class="list-group d-none" id="post-info-subComments-holder" style="border-left: 3px solid #98CBFEFF">
    </ul>
    <div class="text-primary d-none" id="post-info-comment-btn-hide-sub-comments" style="cursor: pointer">Скрыть ответы</div>
</li>