<li class="list-group-item border-0">
    <div>
        <span class="text-muted mb-1" id="post-info-comment-author-name">Xexi</span>
        <i class="bi bi-pencil-fill d-none" id="post-info-comment-pencil-icon"></i>
        <i class="bi bi-trash3-fill d-none" id="post-info-comment-trash-icon"></i>
    </div>


    <div>
        <span class="mb-2 fs-5" id="post-info-comment-text" title="">Да здравствует пиво!</span>
        <span class="mb-2 text-muted d-none" id="post-info-comment-rewrite-status" title="">(изменён)</span>
    </div>
    <div class="text-muted text-small mb-1">
        <div class="d-none mb-2" id="post-info-comment-refactor">
            <div class="row">
                <div class="col-12 col-sm-9">
                    <input type="text" id="post-info-comment-refactor-input" class="form-control">
                </div>
                <div class="col-12 col-sm">
                    <button type="button" class="btn btn-warning" id="post-info-comment-btn-refactor-send">
                        Редактировать
                    </button>
                </div>
            </div>
        </div>
        <span id="post-info-comment-date">19.12.2022</span>
        <span class="text-primary" id="post-info-comment-btn-answer" style="cursor: pointer">Ответить</span>
        <div class="d-none mb-2" id="post-info-comment-answer">
            <div class="row">
                <div class="col-12 col-sm-9">
                    <input placeholder="Оставьте комментарий..." type="text" id="post-info-comment-answer-input" class="form-control">
                </div>
                <div class="col-12 col-sm">
                    <button type="button" class="btn btn-primary" id="post-info-comment-btn-answer-send">Отправить
                    </button>
                </div>
            </div>
        </div>
    </div>
</li>