<li class="list-group-item border-0">
    <div class="text-muted mb-1" id="post-info-subComment-author-name">Xexi</div>
    <div>
        <span class="mb-2 fs-5" id="post-info-subComment-text" title="">Да здравствует пиво!</span>
        <span class="mb-2 text-muted d-none" id="post-info-subComment-rewrite-status" title="">(изменён)</span>
    </div>
    <div class="text-muted text-small mb-1">
        <span id="post-info-subComment-date">19.12.2022</span>
        <span class="text-primary" id="post-info-subComment-btn-answer" style="cursor: pointer">Ответить</span>
    </div>
</li>